---
import { useTranslations } from "../../i18n";
import Layout from "../../layouts/Layout.astro";
import Badge from "../../components/Badge.astro";
import LinkedIn from "../../components/icons/LinkedIn.astro";
import Github from "../../components/icons/Github.astro";
import SocialPill from "../../components/icons/SocialPill.astro";
import Mail from "../../components/icons/Mail.astro";
import Experience from "../../components/Experience.astro";
import SectionContainer from "../../components/SectionContainer.astro";
import Briefcase from "../../components/icons/Briefcase.astro";
import Code from "../../components/icons/Code.astro";
import Projects from "../../components/Projects.astro";
import About from "../../components/About.astro";
import Profile from "../../components/icons/Profile.astro";
import Cv from "../../components/icons/Cv.astro";
import Book from "../../components/icons/Book.astro";
import Estudios from "../../components/Estudios.astro";
import WhatsApp from "../../components/icons/WhatsApp.astro";
import Cursos from "../../components/Cursos.astro";

const lang = 'en';
const { t } = useTranslations(lang);
---

<script>
  const typewriterElements = document.querySelectorAll(".typewriter");
  typewriterElements.forEach((el) => {
    const element = el as HTMLElement;
    const phrase = element.dataset.phrase || "";

    const container = document.createElement("div");
    container.style.height = "1.5em";
    container.style.display = "flex";
    container.style.alignItems = "center";
    element.parentNode?.insertBefore(container, element);
    container.appendChild(element);

    let charIndex = 0;

    const typeCharacter = () => {
      if (charIndex >= phrase.length) return;
      element.textContent = phrase.slice(0, charIndex + 1);
      charIndex++;
      setTimeout(typeCharacter, 100);
    };

    typeCharacter();
  });

  const btnDescargar = document.getElementById("descargar-cv");
  btnDescargar?.addEventListener("click", () => {
    const cvUrl = "/projects/pdf/JuanDavidDuarteHernandezCV.pdf";
    window.open(cvUrl, "Juan_Duarte_CV.pdf");
  });
</script>

<Layout
  title={t("meta.title")}
  description={t("meta.description")}
  lang={lang}
>
  <main class="px-4">
    <SectionContainer id="contacto" class="py-20 pb-20">
      <img
        class="rounded-full size-40 mb-4"
        src="/images/linkedin_profile.jpeg"
        alt="Juan's photo"
      />

      <h1
        class="text-3xl md:text-4xl lg:text-5xl text-gray-900 dark:text-white font-bold flex flex-row gap-x-4"
      >
        Juan David Duarte
      </h1>

      <div class="pb-10 pt-2">
        <a href="https://linkedin.com/in/juan-dev-contact" target="_blank"
          ><Badge>{t("hero.available")}</Badge></a
        >
      </div>

      <h2 class="text-xl lg:text-2xl text-wrap max-w[700px]">
        <div>
          <span class="text-blue-600 dark:text-blue-500">{t("hero.role")}</span>
        </div>
        <div>
          <span class="text-blue-600/90 dark:text-blue-200/90 typewriter" data-phrase={t("hero.typewriter")}></span>
        </div>
        <div>
          <span class="text-gray-900 dark:text-white">{t("hero.location")}</span>
        </div>
      </h2>

      <nav class="flex flex-wrap gap-2 mt-8 mx-auto">
        <SocialPill id="descargar-cv">
          <Cv class="size-4 md:size-6 cursor-pointer" /> {t("hero.cv")}
        </SocialPill>

        <SocialPill
          href="https://linkedin.com/in/juan-dev-contact"
          target="_blank"
        >
          <LinkedIn class="size-4 md:size-6" /> {t("hero.linkedin")}
        </SocialPill>

        <SocialPill href="https://wa.me/573027342616">
          <WhatsApp class="size-4 md:size-7" /> {t("hero.whatsapp")}
        </SocialPill>

        <SocialPill href="mailto:juan.devcontact@gmail.com">
          <Mail class="size-4 md:size-7" /> {t("hero.email")}
        </SocialPill>

        <SocialPill href="https://github.com/DevJuanDuarte" target="_blank">
          <Github class="size-4 md:size-6" /> {t("hero.github")}
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-gray-900 dark:text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Briefcase class="size-7" /> {t("sections.experience")}
      </h2>
      <Experience lang={lang} />
    </SectionContainer>

    <SectionContainer id="sobre-mi" class="py-10 pb-10">
      <h2
        class="text-gray-900 dark:text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Profile class="size-7" /> {t("sections.about")}
      </h2>
      <About lang={lang} />
    </SectionContainer>

    <SectionContainer id="proyectos" class="py-10 pb-10">
      <h2
        class="text-gray-900 dark:text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Code class="size-7" /> {t("sections.projects")}
      </h2>

      <div class="grid grid-cols-1 lg:grid-cols-1 justify-center">
        <Projects lang={lang} />
      </div>
    </SectionContainer>

    <SectionContainer id="estudios">
      <h2
        class="text-gray-900 dark:text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Book class="size-7" /> {t("sections.studies")}
      </h2>
      <Estudios lang={lang} />
    </SectionContainer>

    <SectionContainer id="estudios">
      <h2
        class="text-gray-900 dark:text-white text-3xl lg:text-4xl font-semi-bold mb-5 flex gap-x-3 items-center"
      >
        <Book class="size-7" /> {t("sections.courses")}
      </h2>
      <Cursos lang={lang} />
    </SectionContainer>
  </main>
</Layout>
