---
import { useTranslations, type Lang } from "../i18n";
import EstudiosItem from "./EstudiosItem.astro";

export interface Props {
  lang: Lang;
}
interface CursoData {
  title: string;
  description: string;
  date2: string;
  link?: string;
}
const { lang } = Astro.props;
const { tArray } = useTranslations(lang);
const CURSOS = tArray<CursoData>("courses");
---

<ol class="relative border-s border-gray-200 ml-3.5">
  {
    CURSOS.map((curso) => (
    <li class="mb-10 ms-4">
      <EstudiosItem
        title={curso.title}
        description={curso.description}
        date2={curso.date2}
        link={curso.link}
        lang={lang}
      />
    </li>
    ))
  }
</ol>
