---
import { useTranslations, type Lang } from "../i18n";
import EstudiosItem from "./EstudiosItem.astro";

export interface Props {
  lang: Lang;
}
interface EstudioData {
  title: string;
  description: string;
  date2: string;
  link?: string;
}
const { lang } = Astro.props;
const { tArray } = useTranslations(lang);
const ESTUDIOS = tArray<EstudioData>("studies");
---

<ol class="relative border-s border-gray-300 dark:border-gray-600 ml-3.5">
  {
    ESTUDIOS.map((est) => (
    <li class="mb-10 ms-4">
      <EstudiosItem
        title={est.title}
        description={est.description}
        date2={est.date2}
        link={est.link}
        lang={lang}
      />
    </li>
    ))
  }
</ol>
