---
import { useTranslations, type Lang } from "../i18n";
import ExperienceItem from "./ExperienceItem.astro";

export interface Props {
  lang: Lang;
}
interface ExpData {
  title: string;
  description: string;
  date: string;
  link?: string;
}
const { lang } = Astro.props;
const { tArray } = useTranslations(lang);
const EXPERIENCE = tArray<ExpData>("experience");
---

<ol class="relative border-s border-gray-300 dark:border-gray-600 ml-3.5">
  {
    EXPERIENCE.map((exp) => (
    <li class="mb-10 ms-4">
      <ExperienceItem
        title={exp.title}
        description={exp.description}
        date={exp.date}
        link={exp.link}
        lang={lang}
      />
    </li>
    ))
  }
</ol>
