---
const PROJECTS = [
  {
    title: "Desarrollador Backend - CulturaSoft",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut reprehenderit, praesentium natus provident ipsam harum at. Perferendis laboriosam, quod non reprehenderit natus molestiae maxime accusantium voluptatem ad nesciunt aperiam molestias?",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["PHP", "Slim", "MySQL", "PostgreSQL", "DevOps"],
  },
  {
    title: "Desarrollador Backend - CulturaSoft",
    description:
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut reprehenderit, praesentium natus provident ipsam harum at. Perferendis laboriosam, quod non reprehenderit natus molestiae maxime accusantium voluptatem ad nesciunt aperiam molestias?",
    link: "#",
    github: "#",
    image: "https://via.placeholder.com/300x200",
    tags: ["PHP", "Slim", "MySQL", "PostgreSQL", "DevOps"],
  },
];
---

{
  PROJECTS.map(({ title, description, tags, image }) => (
    <article>
      <h3>{title}</h3>
      <p>{description}</p>
      <ul>
        {tags.map((tag) => (
          <li>{tag}</li>
        ))}
        <img src={image} alt={`Captura de pantalla del proyecto ${image}`} />
      </ul>
    </article>
  ))
}
