---
// Supports weights 100-900
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
interface Props {
  title: string;
  description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/1F468-1F3FB-200D-1F4BB.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://devjuanduarte.com/images/linkedin_profile.png" />
    <meta property="og:url" content="https://devjuanduarte.com/" />
    <meta property="og:type" content="website" />
  </head>
  <body class="bg-neutral-950">
    <div
      class="absolute top-0 z-[-2] size-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(40,70,198,0.4),rgba(255,255,255,0))]"
    >
    
    </div>
  </body>
  <Header />
  <slot />
  <Footer />
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .typewriter {
    overflow: hidden; /* Hide the overflowing text */
    white-space: nowrap; /* Prevent text wrapping */
    letter-spacing: 1px; /* Add some letter spacing for better visibility */
    animation:
      typing 3.5s steps(40, end),
      blink-caret 0.75s step-end infinite;
  }

  /* Animation for typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* Animation for blinking caret */
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: transparent;
    }
  }
</style>
